<h1>@<%= current_user.username %>'s Twitter Feed</h1>

<p>Here's what your "friends" are saying: </p>

<% random_tweet %>

<div>
	<% @following_tweets.each do |tweet| %>
		<%= render 'layouts/tweet', tweet: tweet %>
	<% end %>
</div>